/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* Banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.text-light-gray {
    color: #424242;
    padding-bottom: 20px;
}

.btn-primary {
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFFFFF;
    cursor: pointer;
}

/* Main styls */
main {
    max-width: 1440px;
    margin: 85px auto;
}


/* Teams style */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/* Features section styls */
.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding: 20px;
}

.features-content .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-img img {
    height: 90%;
    margin-left: 90px;
}

.ten-years-badge {
    border-radius: 8px;
    color: #FFF;
    background: #FF900E;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h2 {
    font-size: 3rem;
    margin: 0;
}

.ten-years-badge p {
    font-size: 1.5rem;
}



/* Facts section */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-status {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponspors styles */
.sponspors {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;
}

/*  Footer section styles*/
.foooter {
    border-radius: 8px;
    background: #FFF4E7;
    padding: 40px 400px;
    text-align: center;
    margin: 130px 240px 216px 240px;
}



/* Responsive for MObile device */
@media screen and (max-width:575px) {
    header {
        padding: 10px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }

    .teams-img-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .ten-years-badge {
        position: static;
        width: 320px;
    }

    .features-img img {
        width: 100%;
        margin-left: 0;
    }

    .teams-content,
    .facts-card-container {
        padding: 10px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .foooter {
        margin: 0;
        padding: 0;
    }

}

/* Tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }
}