/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* Banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.text-light-gray {
    color: #424242;
    padding-bottom: 20px;
}

.btn-primary {
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFFFFF;
    cursor: pointer;
}

/* Main styls */
main {
    max-width: 1440px;
    margin: 85px auto;
}


/* Teams style */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}





/* Responsive for MObile device */
@media screen and (max-width:575px) {
    header {
        padding: 10px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding: 20px;
        padding-right: 20px;
    }

}

/* Tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }
}