/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* Banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-discription {
    color: #424242;
    padding-bottom: 20px;
}

.btn-primary {
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFFFFF;
    cursor: pointer;
}




/* Responsive for MObile device */
@media screen and (max-width:575px) {
    header {
        padding: 10px;
    }

    nav {
        flex-direction: column;
    }

}

/* Tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }
}